*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    /* border:1px solid; */
}

html,body{
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
}

.navbar{
    height: 12%;
    background-color: #333333;
    display: flex;
}

.grid{
    height: 88%;
    background-color: #f2f2f2;
}

.filter-container,.action-container{
    height: 75%;
    width: 20rem;
    margin-left: 10rem;
    background-color:#444444;
    margin-top: 1.5vh;
    border-radius: 0.5rem;
    display: flex;
}
.action-container{
    width: 8rem; 
}

.filter{
    /* border: 1px solid red; */
    width: 25%;
    height: 100%;
}

.filter div{
    margin: auto;
    margin-top: 2.2vh;
    /* background-color: yellow; */
    border-radius: 0.5rem;
    height: 50%;
    width: 50%;

}

.pink-color-btn{
    background-color: #d595aa;
}

.blue-color-btn{
    background-color: #5ecdde;
}

.green-color-btn{
    background-color: #91e6c7;
}

.black-color-btn{
    background-color: black;
}

.filter:hover{
    background-color: #333333;
    /* border: 1px solid black; */
}

.add,.delete{
    height: 100%;
    width: 50%;
    
    text-align: center;
    color: white;
    /* border: 1px solid red; */
}

.add{
    font-size: 4rem;
}
.delete{
    font-size: 4rem;
}


.add:hover{
    background-color: #333333;
    /* border: 1px solid black; */

}

.delete:hover{
    background-color: #333333;
    /* border: 1px solid black; */

}